* {
	margin:0px;
	padding:0px;

}
body {
	font-size: 14px;
	font-family: "微软雅黑";
	color: #777777;
}
li {
	list-style: none;
}
.top-bar {
	color: #fff;
	height: 85px;
	width: 100%;
	background: rgba(118,199,192,1);
}

.top-bar span {
	display: inline-block;
	font-size: 35px;
	margin-top: 20px;
	margin-left: 152px;
}
.top-bar ul{
	margin-top: -34px;
	margin-right:77px;
	font-size: 15px;
	height: 30px;
}
.top-bar ul li {
	float: right;
	list-style: none;
	margin:0 15px;
}
.top-bar ul li a{
	text-align: center;
	display: block;
	text-decoration: none;
	height: 30px;
	padding:0 5px;
	line-height: 30px;
	color: #fff;
	border-radius: 7px;
}
.top-bar-a:hover{
	background:#E8645A ;
	border-bottom-style:outset;
	border-radius: 7px;
}
.show-div {
	display: none;
	width: 185px;
    z-index: 73;
    position: absolute;
    background: #E2534B;
    height:100px;
    margin: 5px 0;
    padding: 11px;
    border-radius: 7px;
}
.show-div a{
	background-color: #E5655D;
	margin: 5px 0;
}
.show-div a:hover{
	border-radius: 7px;
	background:#76C7C0 ;
}
.modus {
	font-weight: bold;
}
.home{
	background:rgb(98,162,158);
	border-bottom-style:outset;
	border-radius: 7px;
	font-size: 14px;
}
.home a:hover {
	background:#E8645A ;
	border-bottom-style:outset;
	border-radius: 7px;
}
.search  {
	display: block;
	margin-left: 7px;
	margin-top: 0px;
	background: url(img/search.png) no-repeat center center;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border-style: none;
}
.search:hover{
	background: #62A29E;
	border-bottom-style:outset;
	border-radius: 7px;
}
.path-index {
	margin-top: 10px;
	height: 10px;
	background: url(img/Path.png) repeat ;
}

.about-us {
	width: 100%;
	height: 80px;
	background: #ECECEC;
}
.about-us h2 {
	color: #849090;
	display: block;
	margin-left: 150px;
	padding-top: 25px;
}
.about-us p {
	float: right;
	margin-right: 100px;
	margin-top: -24px;
}
.about-us p span{
	cursor: pointer;
}
.about-us p span:hover{
	color:#E8645A;
}
/*主体部分*/
.big-div {
	margin: 0 auto;
}
.dfuc h2{
	display: block;
	padding: 40px 0 0 0;
	font-weight: bold;
	font-size: 25px;
}
.bu-is {
	float: right;
	width: 126px;
	height: 50px;
	margin: -30px 0 20px 0;
}
.bu-is i{
	float: left;
	box-shadow: 2px 3px 2px #849090;
    width: 35px;
    color: white;
    height: 35px;
    line-height: 31px;
    background: #98A3A3;
    cursor: pointer;
    display: block;
    font-size: 22px;
    font-style: normal;
    text-align: center;
    border-radius: 5px;
    margin-left: 27px;
}
.bu-is i:hover{
	background: #E8645A;
}
#container{
	width: 100%;
	height: 500px;
	position:relative;
	margin:0px auto;
	overflow: hidden;
}
.slidpic{
	display: none;
}
.slidpic{
	width: 100%;
	height: 500px;
	position: absolute;
	opacity:0
}
.slidpic:first-child{
	display: block;
	opacity: 1;
}
#container:hover #buttons{
	display: block;
}
#buttons i{
    width: 29px;
    color: white;
    height: 60px;
    line-height: 61px;
    background: #E8645A;
    cursor: pointer;
    letter-spacing: -9px;
    display: block;
    font-size: 22px;
    font-family: "微软雅黑";
    font-style: normal;
}

#prev{
	position: absolute;
	z-index: 3;
	top: 230px;
	color: #fff;
}
#next{
	position: absolute;
	z-index: 3;
	top: 230px;
	right: 0;
	color: #fff;
}
#slidot{
	bottom: 150px;
	z-index: 3;
	margin: 20px 40%;
}
#slidot li{
	list-style: none;
	display: inline-block;
	width: 44px;
	height: 4px;
	background:gray ;
	margin: 0 4px;
	cursor: pointer;
}
#slidot li:hover{
	background: #3b0;
	cursor: pointer;
}
#slidot li.on{
	background: #E2534B;
}
.ppro {
	width: 100%;
}
.ppro-left {
	width: 70%;
}
.ppro-left p {
	margin: 20px 0;
	font-size: 17px;
}
.ppro-right {
	float: right;
	width: 250px;
	height: 230px;
	margin: -250px 0px 0 0;

}
.ppro-right div{
	height: 34px;
    width: 207px;
    border: 2px #fff;
    border-bottom: 0.2px #333 solid
}
.ppro-right span {
	display: inline-block;
	margin: 10px;
	cursor: pointer;
}
.ppro-right span:hover{
	color: #E8645A;
}
.ppro-right h2 {
	margin:30px 0;
}
.ohc {
	margin-top: 0px;
	float: left;
	height: 20px;
	width: 100%;
	margin-top: 60px;
}
.zhixian{
	display: block;
    width: 60%;
    height: 2px;
    margin-top: -13px;
    margin-left:230px;
}
#buttons01 i{
	text-align: center;
    width:46px;
    height: 46px;
    color: white;
    line-height: 50px;
    background: #98A3A3;
    cursor: pointer;
    display: block;
    font-size: 22px;
    font-family: "微软雅黑";
    font-style: normal;
    margin-left: 20px;
    float: right;
    margin-top: -30px;
    border-radius: 5px;
    box-shadow: 2px 3px 2px #849090;
}
#buttons01 i:hover{
	background: #E8645A;
}
.pics div {
	box-shadow: 2px 3px 2px #849090;
	margin-left: 7%;
    margin-top: 100px;
    padding: 55px 10px;
	width: 15%;
	height: 110px;
	background: #83CCC5;
	text-align: center;
	float: left;
}
.pics div img {
	margin: 10px;
	width: 20px;
	height: 20px;
	padding: 10px;
	background: #76B7B1;
	border-radius: 5px;
	clear: both;
}
.pics div img:hover{
	background: #E8645A;
}
.pics span {
	display: inline-block;
	margin-top: 10px;
}
/*尾部*/
.foot {
	width: 100%;
	height: 380px;
    background: #76C7C0;
    color: #fff;
}
.path003 {
	height: 15px;
	width: 100%;
	background: url(img/path002.png) repeat;
}
.foot-cont {
    height: 274px;
    margin-top: 39px;
}
.fo-co-left {
    margin-left: 93px;
    width: 363px;
    float: left;
}
.fo-co-left p {
	display: block;
	width: 360px;
	line-height: 27px;
}
.modu {
	font-weight: bold;
	font-size: 26px;
	font-style: italic;
	display: block;
}
.vers {
    font-weight: bolder;
    font-size: 17px;
    display: block;
    margin-left: 118px;
    margin-top: -23px;
}
.mo-ver {
	margin: 20px auto;
	display: block;
}
.fon-sty span{
	font-style: italic;
	margin-left: 15px;
}
.fo-co-center1 {
	float: left;
    width: 90px;
    margin: 0 70px;
}
.fo-co-center1 h2 {
	margin-bottom: 15px;
}
.fo-co-center1 a {
	float: left;
	display: block;
	width: 100px;
	clear: both;
	text-decoration: none;
	color: #fff;
	margin-top: 7px;	
}
.fo-co-center1 a:hover{
	color: #BBBBBB;
	display: block;
}
.fo-co-center2 {
	float: left;
	margin-left: 50px;
}
.fo-co-center2 h2 {
	margin-bottom: 15px;
	display: block;
}
.fo-co-center2 a {
	float: left;
	display: block;
	width: 100px;
	clear: both;
	text-decoration: none;
	color: #fff;
	margin-top: 7px;	
}
.fo-co-center2 a:hover{
	color: #BBBBBB;
	display: block;
}
.fo-co-right {
	float: right;
    margin-right: 25px;
	width: 420px;
}
.fo-co-right img{
	margin-top: 15px;
}
.img {
	margin-top: -10px;
}
.img span {
	display: block;
	margin-top: -10px;
	margin-left: 30px;
}
.from-the {
	font-style: italic;
	font-size: 20px;
	margin-bottom: 10px;
}
.fo-co-right span {
	height: 14px;
	margin-top: -40px;
	margin-left: 90px;
}
.fo-co-right h6 {
	margin-left:100px;
	display: block;
	height: 30px;
	margin-top: 10px;
}
.from-the span {
	margin: 0;
}
.footer {
	height: 66px;
	background: #6AB3AC;
}
.footer p {
	font-size: 20px;
	display: block;
	margin-left: 60px;
	
}
.footer div {
	width: 200px;
	height: 30px;
	margin-left: 77%;	
}
.footer a {
	display: block;
	float: left;
	width: 40px;
	height: 40px
}