* {
	margin:0px;
	padding:0px;

}
body {
	font-size: 14px;
	font-family: "微软雅黑";
	color: #777777;
}
li {
	list-style: none;
}
.top-bar {
	color: #fff;
	height: 85px;
	width: 100%;
	background: rgba(118,199,192,1);
}

.top-bar span {
	display: inline-block;
	font-size: 35px;
	margin-top: 20px;
	margin-left: 152px;
}
.top-bar ul{
	margin-top: -34px;
	margin-right:77px;
	font-size: 15px;
	height: 30px;
}
.top-bar ul li {
	float: right;
	list-style: none;
	margin:0 15px;
}
.top-bar ul li a{
	text-align: center;
	display: block;
	text-decoration: none;
	height: 30px;
	padding:0 5px;
	line-height: 30px;
	color: #fff;
	border-radius: 7px;
}
.top-bar-a:hover{
	background:#E8645A ;
	border-bottom-style:outset;
	border-radius: 7px;
}
.show-div {
	display: none;
	width: 185px;
    z-index: 73;
    position: absolute;
    background: #E2534B;
    height:100px;
    margin: 5px 0;
    padding: 11px;
    border-radius: 7px;
}
.show-div a{
	background-color: #E5655D;
	margin: 5px 0;
}
.show-div a:hover{
	border-radius: 7px;
	background:#76C7C0 ;
}
.modus {
	font-weight: bold;
}
.home{
	background:rgb(98,162,158);
	border-bottom-style:outset;
	border-radius: 7px;
	font-size: 14px;
}
.home a:hover {
	background:#E8645A ;
	border-bottom-style:outset;
	border-radius: 7px;
}
.search  {
	display: block;
	margin-left: 7px;
	margin-top: 0px;
	background: url(img/search.png) no-repeat center center;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border-style: none;
}
.search:hover{
	background: #62A29E;
	border-bottom-style:outset;
	border-radius: 7px;
}
.path-index {
	margin-top: 10px;
	height: 10px;
	background: url(img/Path.png) repeat ;
}

.about-us {
	width: 100%;
	height: 80px;
	background: #ECECEC;
}
.about-us h2 {
	color: #849090;
	display: block;
	margin-left: 150px;
	padding-top: 25px;
}
.about-us p {
	float: right;
	margin-right: 100px;
	margin-top: -24px;
}
/*主体部分*/
	/*left*/
.left {
	width: 870px;
	margin-left: 8%;
	float: left;
	
}
.word-div {
	width: 800px;
	height: 670px;
	border-bottom-style: ridge;
}
.wd-left {
	float: left;
	width: 75px;
	height: 140px;
	text-align: center;
	margin-left: 30px;
}
.wd-left-p {
	width: 72px;
	height: 72px;
	background: #fff;
	margin-bottom: 20px;
}
.wd-left p{
	font-size: 20px;
	font-weight: bolder;
}
.wd-left span {
	font-size: 25px;
	font-weight: bold;
}
.wd-img {
	margin-left: 150px;
}
.wd-wz {
	width: 650px;
	height: 300px;
	float: right;
	margin-top: 30px;
	word-spacing: 5px;
}
.wd-wz h2 {
	color: #7ECAC3;
}
.wd-wz span {
	color: #E8645A;
	font-size: 16px;
}
.wd-wz a {
	display: block;
	text-decoration: none;
	color:  #E8645A;
	margin: 10px;
}
.wd-wz a:hover{
	color: #7F8C8C;
}
.photo-div {
	width: 800px;
	height: 630px;
	border-bottom-style: ridge;
}
.ptd-left {
	float: left;
	width: 75px;
	height: 140px;
	text-align: center;
	margin-left: 30px;
	margin-top: 60px;
}
.ptd-left p{
	font-size: 20px;
	font-weight: bolder;
}
.ptd-left span {
	font-size: 25px;
	font-weight: bold;
}
#container{
	width: 650px;
	height: 400px;
	position:relative;
	margin:0px auto;
	overflow: hidden;
	float: right;
}
.slidpic{
	display: none;
}
.slidpic{
	width: 100%;
	height: 500px;
	position: absolute;
	opacity:0
}
.slidpic:first-child{
	display: block;
	opacity: 1;
}
#container:hover #buttons{
	display: block;
}
#buttons i{
    width: 29px;
    color: white;
    height: 60px;
    line-height: 61px;
    background: #E8645A;
    cursor: pointer;
    letter-spacing: -9px;
    display: block;
    font-size: 22px;
    font-family: "微软雅黑";
    font-style: normal;
}

#prev{
	position: absolute;
	z-index: 3;
	top: 170px;
	left: 0px;
	color: #fff;
}
#next{
	position: absolute;
	z-index: 3;
	top: 170px;
	right: 0px;
	color: #fff;
}
.ptd-wz {
	width: 650px;
	height: 300px;
	float: right;
	margin-top: 30px;
	word-spacing: 5px;
}
.ptd-wz h2 {
	color: #7ECAC3;
}
.ptd-wz span {
	color: #E8645A;
	font-size: 16px;
	font-style: italic;
	margin-right: 5px;
}
.vedio-div {
	width: 800px;
	height: 580px;
	border-bottom-style: ridge;
}
.ved-left {
	float: left;
	width: 75px;
	height: 140px;
	text-align: center;
	margin-left: 30px;
	margin-top: 70px;
}
.ved-left-p {
	width: 72px;
	height: 72px;
	background: #fff;
	margin-bottom: 20px;
}
.ved-left p{
	font-size: 20px;
	font-weight: bolder;
}
.ved-left span {
	font-size: 25px;
	font-weight: bold;
}
.ved-ved {
	float: right;
	width: 650px;
	height: 300px;
	margin-top: -87px;
	margin-bottom: 50px;
}
#video1 {
	width: 650px;
}
.xt-div {
	width: 800px;
	height: 330px;
	border-bottom-style: ridge;
}
.xt-wz {
	width: 650px;
    height: 99px;
    float: right;
    margin-top: -102px;
    word-spacing: 5px;
}
.xt-wz h2 {
	color: #7ECAC3;
}
.xt-wz span {
	color: #E8645A;
	font-size: 16px;
	font-style: italic;
	margin-right: 5px;
}
.xt-p {
	font-family: "OpenSans";
  	color: rgb(127, 140, 140);
  	font-style: italic;
  	width: 650px;
  	height: 121px;
  	float: right;
  	font-size: 16px;
}
.au-div {
	width: 800px;
	height: 280px;
	border-bottom-style: ridge;
}
.audio-div {
	float: right;
	width: 650px;
	height:70px;
	background: #fff;
	text-align: center;
	margin-top: 73px;
}
#audio {
	width: 630px;
	padding: 10px;
}
.au-wz {
	width: 650px;
    height: 99px;
    float: right;
    margin-top: 12px;
    word-spacing: 5px;
}
.au-wz h2 {
	color: #7ECAC3;
}
.au-wz span {
	color: #E8645A;
	font-size: 16px;
	font-style: italic;
	margin-right: 5px;
}
.buttons-div {
	margin-top: 60px;
}
.buttons-div i {
	float: left;
	  width: 50px;
    color: white;
    height: 50px;
    line-height:54px;
    background: #8C9898;
    cursor: pointer;
    /*letter-spacing: 9px;*/
    display: block;
    font-size: 22px;
    font-family: "微软雅黑";
    font-style: normal;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    border-bottom-style: outset;
}
.buttons-div i:hover{
	background: #E5655D;
}
.buttons-div i.on{
	background: #649792;
}
/*right*/`
.right {
	width: 200px;
	float: left;
	height: 1000px;
}

.div-cat a {
	display: block;
	width: 180px;
	margin:20px;
	font-size: 17px;
	color: #E2534B;
	text-decoration: none;
	font-weight: bolder;
}
.div-cat a:hover{
	color: #7F8C8C;
}
.div-re {
	width: 200px;
	height: 300px;
	float: left;
	margin-top: 40px;
}
.div-re a {
	display: block;
	width: 180px;
	margin:20px;
	font-size: 17px;
	color: #E2534B;
	text-decoration: none;
	font-weight: bolder;
}
.div-re a:hover{
	color: #7F8C8C;
}
.div-re p {
	display: block;
	margin: -15px 45px;
}
.div-ta {
	width: 250px;
	height: 250px;
	float: left;
	margin-top: 60px;
}
.ri-ul {
	margin-top: 20px;
}
.ri-ul li{
	line-height: 29px;
    padding-left: 14px;
    padding-right: 14px;
    margin: 4px;
    float: left;
    cursor: pointer;
    height: 32px;
	background: #7F8C8C;
	color: #fff;
	border-radius: 10px;
}
.ri-ul li:hover{
	background: #E2534B;
}
.div-ar {
	float: left;
	width: 120px;
	height: 600px;
}
.div-ar h2{
	margin-bottom: 30px;
}
.div-ar a{
	float: left;
	width: 100px;
	height: 25px;
	font-size: 17px;
	color: #E2534B;
	text-decoration: none;
	margin: 0px;
	display: block;
}
.div-ar a:hover{
	color: #7F8C8C;
}
/*尾部*/
.foot {
	width: 100%;
	height: 380px;
    background: #76C7C0;
    color: #fff;
}
.path003 {
	height: 15px;
	width: 100%;
	background: url(img/path002.png) repeat;
}
.foot-cont {
    height: 274px;
    margin-top: 39px;
}
.fo-co-left {
    margin-left: 93px;
    width: 363px;
    float: left;
}
.fo-co-left p {
	display: block;
	width: 360px;
	line-height: 27px;
}
.modu {
	font-weight: bold;
	font-size: 26px;
	font-style: italic;
	display: block;
}
.vers {
    font-weight: bolder;
    font-size: 17px;
    display: block;
    margin-left: 118px;
    margin-top: -23px;
}
.mo-ver {
	margin: 20px auto;
	display: block;
}
.fon-sty span{
	font-style: italic;
	margin-left: 15px;
}
.fo-co-center1 {
	float: left;
    width: 90px;
    margin: 0 70px;
}
.fo-co-center1 h2 {
	margin-bottom: 15px;
}
.fo-co-center1 a {
	float: left;
	display: block;
	width: 100px;
	clear: both;
	text-decoration: none;
	color: #fff;
	margin-top: 7px;	
}
.fo-co-center1 a:hover{
	color: #BBBBBB;
	display: block;
}
.fo-co-center2 {
	float: left;
	margin-left: 50px;
}
.fo-co-center2 h2 {
	margin-bottom: 15px;
	display: block;
}
.fo-co-center2 a {
	float: left;
	display: block;
	width: 100px;
	clear: both;
	text-decoration: none;
	color: #fff;
	margin-top: 7px;	
}
.fo-co-center2 a:hover{
	color: #BBBBBB;
	display: block;
}
.fo-co-right {
	float: right;
    margin-right: 25px;
	width: 420px;
}
.fo-co-right img{
	margin-top: 15px;
}
.img {
	margin-top: -10px;
}
.img span {
	display: block;
	margin-top: -10px;
	margin-left: 30px;
}
.from-the {
	font-style: italic;
	font-size: 20px;
	margin-bottom: 10px;
}
.fo-co-right span {
	height: 14px;
	margin-top: -40px;
	margin-left: 90px;
}
.fo-co-right h6 {
	margin-left:100px;
	display: block;
	height: 30px;
	margin-top: 10px;
}
.from-the span {
	margin: 0;
}
.footer {
	height: 66px;
	background: #6AB3AC;
}
.footer p {
	font-size: 20px;
	display: block;
	margin-left: 60px;
	
}
.footer div {
	width: 200px;
	height: 30px;
	margin-left: 77%;	
}
.footer a {
	display: block;
	float: left;
	width: 40px;
	height: 40px
}